.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;

  color: #d3d3d3; /* Light gray text, use #f0f0f0 for off-white */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
